@import "../../../../../../variables.scss";
.row-reservation {
  transition: 0.2s all ease;
  position: relative;
  width: 100%;
  height: 65px;
  padding-left: 33px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);

  .avatar-name {
    display: flex;
    align-items: center;
    gap: 5px;
    img {
      border-radius: 50%;
    }
  }
  .promotion,
  .sujet,
  .date,
  .creneau,
  .action {
    display: flex;
    align-items: center;
  }
  .action button {
    background-color: black;
    color: white;
    padding: 10px 18px;
    border: none;
    border-radius: 6px;
  }
}

.transparent {
  background-color: white;
}
.grey {
  background-color: $background-light-list;
}

@media screen and (max-width: $large) {
  .row-reservation {
    padding-left: 0;
    grid-template-columns: 2fr 2fr 1fr;
    .sujet {
      display: none;
    }
    .promotion {
      display: none;
    }
  }
}

.main {
  display: flex;
  overflow: auto;
  flex-wrap: nowrap;
  position: relative;
  overflow-x: hidden;

  .action-phone {
    position: absolute;
    margin: 15px;

    animation: showUp 0.2s ease;
    button {
      border: none;
      background-color: transparent;
      margin: 0 10px;
    }
  }
}

.slide-right {
  transform: translate(150px);
  transition: 0.2s all ease;
}

.hidden {
  display: none;
}

@keyframes showUp {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}
