<div class="main" *ngIf="reservation">
  <div class="action-phone" *ngIf="showAction">
    <button (click)="delete()" *ngIf="!isHistory">
      <img src="assets/svgs/stop.svg" alt="" width="25" height="25" />
    </button>
    <button (click)="showModalNote()" *ngIf="isHistory">
      <img src="assets/svgs/edit.svg" alt="" width="25" height="25" />
    </button>
  </div>
  <div class="row-reservation" [ngClass]="bgColor" #thisRef>
    <div class="avatar-name">
      <img [src]="reservation.imgUrl" alt="avatar" width="35" height="35" />
      <p>{{ reservation.firstname }}</p>
    </div>
    <div class="promotion">
      {{ reservation.title | titlecase }}
    </div>
    <div class="sujet">
      {{ reservation.subject || "sans sujet" | titlecase }}
    </div>
    <div class="date">
      <div>{{ reservation.dateTime | date : "dd/MM/yyyy" }}</div>
      <div>{{ reservation.dateTime | date : "shortTime" }}</div>
    </div>

    <div class="action" *ngIf="!isHistory">
      <button (click)="delete()">Annuler</button>
    </div>
    <div class="action" *ngIf="isHistory">
      <button (click)="showModalNote()">Plus</button>
    </div>
  </div>
</div>

<p-dialog
  *ngIf="modalCancelReservation"
  header=""
  [(visible)]="modalCancelReservation"
  [modal]="true"
  [style]="{
    width: 'clamp(350px,40vw, 100%)',
    height: 'clamp(350px,60vh, 100%)'
  }"
  [draggable]="false"
  [resizable]="false"
>
  <app-modal-cancel-reservation
    [reservation]="reservation"
    [isHistory]="isHistory"
    (onCancel)="modalCancelReservation = false"
    (onDeleteReservation)="deleteReservation()"
  ></app-modal-cancel-reservation>
</p-dialog>
<p-sidebar
  *ngIf="modalEditMessage"
  [(visible)]="modalEditMessage"
  position="right"
  (onHide)="modalEditMessage = false"
  position="right"
  [style]="{
    width: phoneMode ? 'max(50vw, 400px)' : '100vw'
  }"
>
  <app-modal-add-note
    [reservation]="reservation"
    (onCancel)="modalEditMessage = false"
    (onSubmit)="updateReservation($event)"
  ></app-modal-add-note
></p-sidebar>
