<form
  class="form-course"
  (ngSubmit)="experienceForm.valid && onSubmit()"
  [formGroup]="experienceForm"
  #formExperienceEdit="ngForm"
>
  <h1>Editer une Expérience</h1>
  <div class="infos">
    <div class="container-input">
      <label for="title">Votre poste *</label>
      <input
        type="text"
        id="title"
        name="title"
        formControlName="title"
        placeholder="Titre du poste occupé"
      />
      <div
        class="error"
        *ngIf="
          formExperienceEdit.submitted && experienceForm.get('title')?.errors
        "
      >
        <span> Le titre du poste est requis</span>
      </div>
    </div>
    <div class="container-input">
      <label for="company">Nom de l'entreprise *</label>
      <input
        type="text"
        id="company"
        name="company"
        formControlName="company"
        placeholder="Nom de l'entreprise"
      />
      <div
        class="error"
        *ngIf="
          formExperienceEdit.submitted && experienceForm.get('company')?.errors
        "
      >
        <span> Le nom de l'entreprise est requis</span>
      </div>
    </div>
  </div>
  <div class="container-input">
    <label for="city">Ville *</label>
    <input
      type="text"
      id="city"
      name="city"
      formControlName="city"
      placeholder="Ville"
    />
    <div
      class="error"
      *ngIf="formExperienceEdit.submitted && experienceForm.get('city')?.errors"
    >
      <span> La ville est requise</span>
    </div>
  </div>
  <div class="container-input">
    <label for="country">Pays *</label>
    <input
      type="text"
      id="country"
      name="country"
      formControlName="country"
      placeholder="Pays"
    />
    <div
      class="error"
      *ngIf="
        formExperienceEdit.submitted && experienceForm.get('country')?.errors
      "
    >
      <span> Le pays est requis </span>
    </div>
  </div>

  <div class="container-input">
    <label for="dateBegin">Date de début *</label>
    <input
      type="date"
      id="dateBegin"
      name="dateBegin"
      formControlName="dateBegin"
      placeholder="Date de début"
    />
    <div
      class="error"
      *ngIf="
        formExperienceEdit.submitted && experienceForm.get('dateBegin')?.errors
      "
    >
      <span> La date de début est requise </span>
    </div>
  </div>

  <div class="container-input">
    <label for="dateEnd">Date de fin *</label>
    <input
      type="date"
      id="dateEnd"
      name="dateEnd"
      formControlName="dateEnd"
      placeholder="Date de fin"
    />
    <div
      class="error"
      *ngIf="
        formExperienceEdit.submitted && experienceForm.get('dateEnd')?.errors
      "
    >
      <span> La date de fin est requise</span>
    </div>
    <div
      class="error"
      *ngIf="formExperienceEdit.submitted && experienceForm.errors?.['datesNotValid']"
    >
      <span>La date de fin ne peut pas être avant la date de début</span>
    </div>
  </div>

  <div class="btn-connexion">
    <app-button variant="black" text="Annuler" (click)="cancel()"></app-button>
    <app-button variant="pink" text="Enregistrer" type="submit"></app-button>
  </div>
</form>
