<div class="container-login-page">
  <div class="left">
    <app-welcome
      title="Bienvenue !"
      subtitle="La plateforme qui met les étudiants et les mentors en relation"
    ></app-welcome>
  </div>

  <div class="right">
    <div class="right-title">
      <h2>Créer votre compte</h2>
      <button (click)="sidebarVisible = true">sésame ouvre toi</button>
    </div>
    <app-register-form class="inner-right"></app-register-form>

    <div class="social-connexion">
      <app-social-connexion
        title="Ou créez votre compte avec "
      ></app-social-connexion>
    </div>
  </div>
</div>

<p-sidebar [(visible)]="sidebarVisible" position="right">
  <app-form-experience></app-form-experience
></p-sidebar>
