@import "../../../../variables.scss";
.modal {
  background-color: white;
  border-radius: 10px;
  padding: 20px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;

  p {
    text-align: center;
    font-weight: 800;
    margin: 10px 0;
  }

  .select-languages {
    margin: 30px auto;
    margin-top: 10px;
  }

  .control {
    display: flex;
    gap: 20px;
    justify-content: center;
  }
}

@media screen and (max-width: $small) {
  .modal {
    .control {
      flex-direction: column;
    }
  }
}

.pink {
  background-color: #f7156b;
  color: white;
}

.black {
  background-color: black;
  color: azure;
}
.btn-general {
  width: 100%;
  font-size: 18px;
  font-weight: 600;
  padding: 11px 20px;
  border-radius: 6px;
  border: none;
  transition: transform 0.4s ease;
}
.btn-general:hover {
  transform: scale(0.95);
}
