<p-sidebar
  [(visible)]="visible"
  [modal]="true"
  [draggable]="false"
  (onHide)="closeDialog()"
  position="right"
>
  <div class="modal">
    <h1>{{ question }}</h1>
    <h2>Veuillez sélectionner les langues que vous parlez couramment.</h2>
    <div class="container-chips">
      <div *ngFor="let language of selectedLanguages">
        <app-chip class="" [title]="language.name"></app-chip>
      </div>
    </div>

    <div class="container-select">
      <p-multiSelect
        class="languages"
        [options]="languages"
        [(ngModel)]="selectedLanguages"
        placeholder="Choisissez vos langues"
        optionLabel="name"
        [virtualScroll]="true"
        [virtualScrollItemSize]="50"
      />
    </div>

    <div class="btn-container">
      <button
        (click)="cancel()"
        class="btn-general"
        (focus)="focusCancel()"
        (focusout)="focusOutCancel()"
        [ngClass]="focusBtnCancel ? 'black' : ''"
      >
        Annuler
      </button>

      <button
        (click)="validate()"
        class="btn-general"
        (focus)="focusValidate()"
        (focusout)="focusOutValidate()"
        [ngClass]="focusBtnValidate ? 'pink' : ''"
      >
        Valider
      </button>
    </div>
  </div>
</p-sidebar>
