<form class="form-course" (ngSubmit)="onSubmit()" [formGroup]="aproposForm">
  <h1>Editer une Formation</h1>
  <div class="infos">
    <div class="container-input">
      <label for="title">Titre *</label>
      <input
        type="text"
        id="title"
        name="title"
        formControlName="title"
        placeholder="Votre titre"
      />
    </div>
  </div>

  <div class="infos">
    <div class="container-input">
      <label for="diplome">Github *</label>
      <input
        type="text"
        id="github"
        name="github"
        formControlName="githubUrl"
        placeholder="Github :"
      />
    </div>
    <div class="container-input">
      <label for="diplome">Linkedin *</label>
      <input
        type="text"
        id="linkedin"
        name="linkedin"
        formControlName="linkedinUrl"
        placeholder="Linkedin :"
      />
    </div>
  </div>

  <div class="container-input">
    <label for="description">Description *</label>
    <textarea
      pInputTextarea
      aria-labelledby="Description"
      formControlName="description"
      id="description"
    ></textarea>
  </div>

  <div class="btn-connexion">
    <app-button variant="black" text="Annuler" (click)="cancel()"></app-button>
    <app-button variant="pink" text="Enregistrer"></app-button>
  </div>
</form>
