<form class="form-course" (ngSubmit)="onSubmit()" [formGroup]="aproposForm">
  <app-file-upload
    (fileEmitter)="receiveImage($event)"
    [imageUrl]="profil.imgUrl"
  ></app-file-upload>
  <h1>Editer votre profil</h1>
  <div class="infos">
    <div class="container-input">
      <label for="title">Titre de votre profil*</label>
      <input
        type="text"
        id="title"
        name="title"
        formControlName="title"
        placeholder="Votre titre"
      />
    </div>
  </div>

  <div class="infos">
    <div class="container-input">
      <label for="firstname">Prénom *</label>
      <input
        type="text"
        id="firstname"
        name="firstname"
        formControlName="firstname"
        placeholder="Github :"
      />
    </div>
    <div class="container-input">
      <label for="lastname">Nom *</label>
      <input
        type="text"
        id="lastname"
        name="lastname"
        formControlName="lastname"
        placeholder="Linkedin :"
      />
    </div>
  </div>

  <div class="infos">
    <div class="container-input">
      <label for="diplome">Github *</label>
      <input
        type="text"
        id="github"
        name="github"
        formControlName="githubUrl"
        placeholder="Github :"
      />
    </div>
    <div class="container-input">
      <label for="linkedin">Linkedin *</label>
      <input
        type="text"
        id="linkedin"
        name="linkedin"
        formControlName="linkedinUrl"
        placeholder="Linkedin :"
      />
    </div>
  </div>

  <div class="infos">
    <div class="container-input">
      <label for="description">Votre description *</label>
      <textarea
        type="text"
        id="description"
        name="description"
        formControlName="description"
        placeholder="Votre description"
      ></textarea>
    </div>
  </div>
  <div class="edit-skill">
    <label for="skills">Editez vos skills *</label>
  </div>

  <div class="skills" *ngIf="skills">
    <app-chip
      *ngFor="let skill of selectedSkills"
      [title]="skill.name"
      [dark]="true"
    ></app-chip>
  </div>

  <div class="container-select">
    <p-multiSelect
      class="languages"
      id="skills"
      name="skills"
      [options]="skills"
      placeholder="Choisissez vos skills"
      [formControlName]="'selectedSkill'"
      (onChange)="setSkills($event.value)"
      optionLabel="name"
      [showClear]="true"
      [virtualScroll]="true"
      [virtualScrollItemSize]="43"
    />
  </div>

  <div class="btn-connexion">
    <app-button variant="black" text="Annuler" (click)="cancel()"></app-button>
    <app-button
      variant="pink"
      text="Enregistrer"
      [type]="'submit'"
    ></app-button>
  </div>
</form>
