@import "../../../../variables.scss";

.light {
  background-color: $anti-primary-color;
  color: $primary-color;
}
.dark {
  background-color: $primary-color;
  color: $anti-primary-color;
}
.chip {
  border: none;

  border-radius: 8px;
  font-size: 14px;
  font-weight: 500;
  padding: 5px 15px;
}
.chip:visited,
.chip:focus,
.chip:focus-visible {
  border: none;
  box-shadow: none;
}
