<div class="filter-container">
  <div class="top-part">
    <h1>Rechercher un mentor</h1>
    <div class="btn-reset">
      <button type="button">Réinitialiser</button>
    </div>
  </div>
  <div class="bottom-part">
    <div class="filter-skill">
    <p-multiSelect 
    [options]="skills" 
    [(ngModel)]="selectedSkill" 
    placeholder="Compétences"
    optionLabel="name" 
    display="chip" 
    [showClear]="true"
    class="custom-multiselect" />
  </div>
  <div class="filter-mode">
    <p-multiSelect 
    [options]="skills" 
    [(ngModel)]="selectedSkill" 
    placeholder="Mode"
    optionLabel="name" 
    display="chip" 
    [showClear]="true"
    class="custom-multiselect" />
  </div>
  <div class="filter-xp">
    <p-multiSelect 
    [options]="skills" 
    [(ngModel)]="selectedSkill" 
    placeholder="Niveau d'expérience"
    optionLabel="name" 
    display="chip" 
    [showClear]="true"
    class="custom-multiselect" />
  </div>
</div>
</div>
