@import "../../../../../../../variables.scss";
.right-content {
  border-top-left-radius: 40px;
  border-bottom-left-radius: 40px;
}

.container-card {
  display: flex;
  gap: 20px;
}

.container-card app-card-role {
  flex: 1;
  margin-top: 30px;
}

.account h4 {
  margin-top: 20px;
  font-weight: 300;
  font-style: italic;
}

.account span {
  font-weight: 600;
}

@media screen and (max-width: $small) {
  .container-login-page {
    flex-direction: column;
  }

  .right-content {
    width: 100%;
    border-top-right-radius: 40px;
    padding: 50px 20px;
  }

  .right-title h3 {
    font-weight: 300;
    font-size: 18px;
  }
  .container-card {
    flex-direction: column;
    gap: 5px;
  }
}
