<form class="form-course" (ngSubmit)="onSubmit()" [formGroup]="courseForm">
  <h1>Editer une Formation</h1>
  <div class="infos">
    <div class="container-input">
      <label for="diplome">Diplôme *</label>
      <input
        type="text"
        id="diplome"
        name="title"
        formControlName="diplome"
        placeholder="Le diplôme obtenu"
      />
    </div>
    <div class="container-input">
      <label for="school">Nom de l'établissement</label>
      <input
        type="text"
        id="school"
        name="school"
        formControlName="school"
        placeholder="Nom de l'établissement"
      />
    </div>
  </div>

  <div class="container-input">
    <label for="dateBegin">Date de début *</label>
    <input
      type="date"
      id="dateBegin"
      name="dateBegin"
      formControlName="dateBegin"
      placeholder="Date de début"
    />
  </div>

  <div class="container-input">
    <label for="dateEnd">Date de fin *</label>
    <input
      type="date"
      id="dateEnd"
      name="dateEnd"
      formControlName="dateEnd"
      placeholder="Date de fin"
    />
  </div>
  <div class="container-input">
    <label for="description">Description *</label>
    <textarea
      rows="5"
      id="description"
      name="description"
      formControlName="description"
      placeholder="Description de la formation"
    ></textarea>
  </div>

  <div class="btn-connexion">
    <app-button variant="black" text="Annuler" (click)="cancel()"></app-button>
    <app-button variant="pink" text="Enregistrer"></app-button>
  </div>
</form>
