<div class="title-list">
  <h3>{{ title }}</h3>
  <button class="edit-button" (click)="addCourse()" *ngIf="editModeOn">
    <img src="assets/svgs/plus.svg" alt="edit" width="25" height="25" />
  </button>
</div>
<div class="list-skills">
  <ng-container *ngIf="formations">
    @for( formation of formations; track $index ){
    <app-card-formation [formation]="formation"></app-card-formation>
    @if($index !== formations.length -1){
    <p-divider></p-divider>
    } }
  </ng-container>
</div>

<ng-container
  *ngIf="{
    phoneMode: windowWatcherService.windowSizeChanged.asObservable() | async
  } as phoneMode"
>
  <p-sidebar
    [(visible)]="isVisibleFormCourse"
    position="right"
    (onHide)="hideAddFormation()"
    *ngIf="isVisibleFormCourse"
    position="right"
    [style]="{
      width: phoneMode.phoneMode ? 'max(50vw, 400px)' : '100vw'
    }"
  >
    <app-form-add-course
      (destroy)="hideAddFormation()"
      (formationEmitter)="addNewCourse($event)"
    ></app-form-add-course>
  </p-sidebar>
</ng-container>
