<div class="list-languages">
  <div class="title-list">
    <h3>{{ title }}</h3>
    <button class="edit-button" (click)="showEditModal()" *ngIf="editModeOn">
      <img src="assets/svgs/plus.svg" alt="edit" width="25" height="25" />
    </button>
  </div>
  <div class="languages" *ngIf="languages">
    <app-chip
      *ngFor="let language of languages"
      [title]="language.name"
      [dark]="true"
    ></app-chip>
  </div>
</div>
<ng-container *ngIf="isModalVisible">
  <app-modal-edit-languages
    [selectedLanguages]="languages"
    [visible]="isModalVisible"
    [question]="'Editez vos langues'"
    (onCancel)="isModalVisible = false"
    (onValidate)="updateLanguages($event)"
  ></app-modal-edit-languages>
</ng-container>
