.list-languages {
  margin-top: 30px;
}
.languages {
  margin-top: 20px;
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}
h3 {
  font-weight: 600;
}
.title-list {
  margin-bottom: 20px;
  padding-left: 5px;
  display: flex;
  align-items: center;
  gap: 10px;

  .edit-button {
    display: flex;
    align-items: center;
    border: none;
    background-color: transparent;
  }
}
