<div class="container-general-layout">
  <div class="container-layout">
    <div class="header-layout">
      <div>
        <img
          class="img-fluid site-logo"
          src="/assets/logoo.jpg"
          alt="logo"
          width="70"
          height="70"
        />
        <img
          src="/assets/svgs/bell.svg"
          class="img-fluid nav-burger"
          alt=""
          width="70"
          height="70"
          (click)="displayMobileNav = true"
        />
        <p-sidebar [(visible)]="displayMobileNav">
          <div *ngFor="let link of listLink">
            <a
              [routerLink]="[link.path]"
              (click)="displayMobileNav = false; router.navigateByUrl(link.path);
            "
              >{{ link.title }}</a
            >
          </div>
          <div>
            <span
              (click)="
                displayMobileNav = false;
                modalVisible = true
              "
            >
              Vous déconnecter
            </span>
          </div>
        </p-sidebar>
      </div>
      <div class="header-container">
        <h2>Bonjour {{ name }}</h2>
        <p>{{ intro }}</p>
      </div>

      <div class="container-notification">
        <div class="icon-wrapper">
          <img
            class="img-fluid"
            src="/assets/svgs/message.svg"
            alt="messages"
            width="25"
            height="25"
          />
          <span class="badge">3</span>
        </div>

        <div class="icon-wrapper">
          <img
            class="img-fluid"
            src="/assets/svgs/bell.svg"
            alt="notifications"
            width="25"
            height="25"
          />
          <span class="badge">5</span>
        </div>

        <div class="icon-wrapper">
          <img
            [src]="imgUrl"
            alt="Mentor Image"
            width="35"
            height="35"
            style="border-radius: 50%"
          />
        </div>
      </div>
    </div>
    <div class="container-main">
      <div
        class="container-side-nav"
        [ngStyle]="{
          transform:
            !showNavbar && !windowWatcher.windowSizeChanged.value
              ? 'scaleX(0)'
              : 'scaleX(1)',
          transformOrigin: 'top left'
        }"
      >
        <app-dashboard-links
          [showText]="showNavbar"
          [listLink]="listLink"
        ></app-dashboard-links>
        <button
          class="burger"
          (click)="toggleVisibility()"
          [ngClass]="!showNavbar ? 'light' : 'dark'"
        >
          <img
            [src]="
              showNavbar
                ? 'assets/svgs/left-arrow.svg'
                : 'assets/svgs/right-arrow.svg'
            "
            alt=""
            width="25"
            height="25"
          />
        </button>
        <div
          class="logout"
          [ngStyle]="{ margin: showNavbar ? '0 0 0 20px' : '0 auto' }"
        >
          <button (click)="modalVisible = true" class="logout-btn">
            <img
              src="assets/svgs/logout.svg"
              alt="logout"
              width="30"
              height="30"
            />
            <ng-container *ngIf="showNavbar">Vous déconnecter</ng-container>
          </button>
        </div>
      </div>

      <p-dialog
        header=""
        [(visible)]="modalVisible"
        [modal]="true"
        [draggable]="false"
        [resizable]="false"
      >
        <div class="logout-pop-up">
          <div class="container-img-forgot">
            <img
              class="img-fluid forgot-img"
              src="/assets/svgs/question.svg"
              alt=""
            />
          </div>

          <h1>Êtes vous sûr de vouloir vous déconnecter ?</h1>
          <div class="btn-logout-container">
            <app-button
              (click)="modalVisible = false"
              variant="black"
              text="Annuler"
              type="submit"
            ></app-button>
            <app-button
              variant="pink"
              text="Déconnexion"
              type="submit"
              (click)="logout()"
            ></app-button>
          </div>
        </div>
      </p-dialog>

      <div class="container-outlet">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>
