@import "../../../../../variables.scss";

.container-layout {
  width: 100%;
  margin: 0 auto;
  margin-top: 0;
  padding: 0;
  min-height: 100vh;
  background-color: #fcf6f8;

  .header-container {
    background-color: #f8156b;
    width: 60%;
    height: 100px;
    margin: 0 auto;
    border-radius: 15px;
    color: white;
    padding-left: 30px;

    display: flex;
    flex-direction: column;
  }

  .container-side-nav {
    position: relative;
    background-color: white;
    min-height: calc(100vh - 120px);
    margin-top: 10px;
    border-radius: 27px;
    display: flex;
    flex-direction: column;

    button {
      margin: 20px;
      display: flex;
      align-items: start;
      justify-content: start;
      border: none;
      border-radius: 2px;
    }
  }
}
.container-main {
  position: relative;
  display: flex;
  .container-outlet {
    padding: 35px 35px;
    width: 100%;
    height: calc(100vh - 135px);
    overflow-y: auto;
  }
}

@media screen and (max-width: $break-point-phone) {
  .container-main {
    .container-side-nav {
      position: absolute;
      // left: -40px;
      margin: 0;
      padding: 0;
    }
  }
}

@media screen and (max-width: $break-point-tablette) {
  .container-main {
    .container-side-nav {
      position: absolute;
      // left: -40px;
      margin: 0;
      padding: 0;
    }
  }
}

.light {
  background-color: $primary-color;
  color: $anti-primary-color;
}
.darkt {
  background-color: $anti-primary-color;
  color: $primary-color;
}
