<ng-container *ngIf="mentor$ | async as mentor">
  <div class="container-general-layout">
    <div class="container-layout">
      <div class="header-container">
        <h2>Bonjour {{mentor.profil.firstname}}</h2>
        <p>Votre espace mentor de la Wild Code School</p>
      </div>
      <div class="container-main">
        <button
          class="burger"
          (click)="toggleVisibility()"
          [ngClass]="!showNavbar ? 'light' : 'dark'"
        >
          <img [src]="'assets/svgs/burger.svg'" alt="" width="25" height="25" />
        </button>
        <div
          class="container-side-nav"
          [ngStyle]="{transform: (!showNavbar && !windowWatcher.windowSizeChanged.value)? 'scaleX(0)' : 'scaleX(1)', transformOrigin: 'top left'}"
        >
          <app-dashboard-links [showText]="showNavbar"></app-dashboard-links>
        </div>
        <div class="container-outlet">
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>
  </div>
</ng-container>
