<form
  class="form-experience"
  (ngSubmit)="onSubmit()"
  [formGroup]="experienceForm"
>
  <h1>Ajouter une expérience</h1>
  <div class="infos">
    <div class="container-input">
      <label for="title">Titre de l'expérience *</label>
      <input
        type="text"
        id="title"
        name="title"
        formControlName="title"
        placeholder="Le post occupé"
      />
    </div>
    <div class="container-input">
      <label for="company">Nom de l'entreprise *</label>
      <input
        type="text"
        id="company"
        name="company"
        formControlName="company"
        placeholder="Nom de la société"
      />
    </div>
  </div>

  <div class="container-input">
    <label for="dateBegin">Date de début *</label>
    <input
      type="date"
      id="dateBegin"
      name="dateBegin"
      formControlName="dateBegin"
      placeholder="Date de début"
    />
  </div>

  <div class="container-input">
    <label for="dateEnd">Date de fin *</label>
    <input
      type="date"
      id="dateEnd"
      name="dateEnd"
      formControlName="dateEnd"
      placeholder="Date de fin"
    />
  </div>

  <div class="btn-connexion">
    <app-button variant="black" text="Annuler"></app-button>
    <app-button variant="pink" text="Enregistrer"></app-button>
  </div>
</form>
