.modal-note {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: black;

  img {
    height: 80%;
  }

  .control {
    margin: 10px 0;
    display: flex;
    gap: 10px;
  }
}

.action {
  height: 250px;
}

.image {
  width: 200px;
  height: 100%;
  object-fit: cover;
}
