@import "variables.scss";

.modal-note {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: black;
  width: 800px;
  background-color: red;

  .subject {
    padding: 20px;
    border-radius: 10px;
    margin: 10px 0;
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
    background-color: $anti-primary-color;
    h4 {
      margin-bottom: 5px;
    }
  }

  img {
    height: 80%;
  }

  .control {
    margin: 10px 0;
    display: flex;
    gap: 10px;
  }
}

.action {
  height: 250px;
}

.image {
  width: 200px;
  height: 100%;
  object-fit: cover;
}
