<div class="modal-note" *ngIf="!isHistory">
  <h3>Réservation prévue avec {{ reservation.firstname | titlecase }}</h3>
  <h4>Le {{ reservation.dateBegin | date : "short" }}</h4>
  <img src="assets/svgs/telecom.svg" alt="" class="image" />

  <div class="subject">
    <h4>
      Suject: <span>{{ reservation.subject }}</span>
    </h4>
    <p [innerHTML]="reservation.details"></p>
  </div>

  <h3>Annulez cette réservation?</h3>

  <div class="control">
    <app-button
      [text]="'Annuler'"
      [variant]="'black'"
      (onSubmit)="onCancel.emit()"
    ></app-button>
    <app-button
      [text]="'Valider'"
      (onSubmit)="deleteReservation()"
      [variant]="'pink'"
    ></app-button>
  </div>
</div>
