<div class="main">
  <div class="action-phone" *ngIf="showAction">
    <button (click)="delete()">
      <img src="assets/svgs/stop.svg" alt="" width="25" height="25" />
    </button>
  </div>
  <div class="row-reservation" [ngClass]="bgColor" #thisRef>
    <div class="avatar-name">
      <img
        [src]="'https://placehold.jp/35x35.png'"
        alt="avatar"
        width="35"
        height="35"
      />
      <p>{{ reservation.firstname }}</p>
    </div>
    <div class="promotion">
      {{ reservation.title | titlecase }}
    </div>
    <div class="sujet">
      {{ reservation.subject || "sans sujet" | titlecase }}
    </div>
    <div class="date">
      <div>{{ reservation.dateTime | date : "dd/MM/yyyy" }}</div>
      <div>{{ reservation.dateTime | date : "shortTime" }}</div>
    </div>

    <div class="action" *ngIf="!isHistory">
      <button (click)="showModalNote()">Annuler</button>
    </div>
    <div class="action" *ngIf="isHistory">
      <button (click)="showModalNote()">
        {{ reservation.message || "RAS" }}
      </button>
    </div>
  </div>
</div>
<p-dialog
  *ngIf="modalVisible"
  header=""
  [(visible)]="modalVisible"
  [modal]="true"
  [style]="{
    width: 'clamp(350px,40vw, 100%)',
    height: '60vh',
    'aspect-ration': '3 / 4'
  }"
  [draggable]="false"
  [resizable]="false"
>
  <div class="modal-note" *ngIf="isHistory">
    <h3>Vous avez assisté {{ reservation.firstname | titlecase }}</h3>
    <h4>Le {{ reservation.dateTime | date : "short" }}</h4>
    <h3>Notez cette intervention</h3>
    <input name="Note" id="note" [(ngModel)]="newNote" />

    <div class="control">
      <app-button
        [text]="'Annuler'"
        [variant]="'pink'"
        (onSubmit)="cancel()"
      ></app-button>
      <app-button
        [text]="'Valider'"
        (onSubmit)="updateReservation()"
      ></app-button>
    </div>
  </div>
  <div class="modal-note" *ngIf="!isHistory">
    <h3>Réservation prévue avec {{ reservation.firstname | titlecase }}</h3>
    <h4>Le {{ reservation.dateTime | date : "short" }}</h4>
    <h3>Annulez cette réservation?</h3>

    <div class="control">
      <app-button
        [text]="'Annuler'"
        [variant]="'pink'"
        (onSubmit)="cancel()"
      ></app-button>
      <app-button [text]="'Valider'"></app-button>
    </div>
  </div>
</p-dialog>

