<div class="main">
  <div class="action-phone" *ngIf="showAction">
    <button (click)="delete()">
      <img src="assets/svgs/stop.svg" alt="" width="25" height="25" />
    </button>
  </div>
  <div class="row-reservation" [ngClass]="bgColor" #thisRef>
    <div
      class="avatar-name"
      [routerLink]="['/student/mentor-details', reservation.mentorUserId]"
    >
      <img [src]="reservation.imgUrl" alt="avatar" width="35" height="35" />
      <p>{{ reservation.firstname }}</p>
    </div>
    <div class="promotion">
      {{ reservation.title | titlecase }}
    </div>
    <div class="sujet">
      {{ reservation.subject || "sans sujet" | titlecase }}
    </div>
    <div class="date">
      <div>{{ reservation.dateBegin | date : "dd/MM/yyyy" }}</div>
      <div>{{ reservation.dateBegin | date : "shortTime" }}</div>
    </div>

    <div class="action">
      <button (click)="showModalNote()">Voir plus</button>
    </div>
  </div>
</div>
<p-dialog
  *ngIf="modalVisible"
  [(visible)]="modalVisible"
  [modal]="true"
  [closable]="false"
  [draggable]="false"
  [resizable]="false"
>
  <div class="modal-note" *ngIf="isHistory">
    <h3>Séance avec {{ reservation.firstname | titlecase }}</h3>
    <h4>Le {{ reservation.dateBegin | date : "short" }}</h4>
    <img src="assets/svgs/telecom.svg" alt="" class="image" />
    <div class="subject">
      <h4>
        Suject: <span>{{ reservation.subject }}</span>
      </h4>
      <p [innerHTML]="reservation.details"></p>
      <p [innerHTML]="reservation.message" class="response"></p>
    </div>

    <div class="control">
      <app-button
        [text]="'Quitter'"
        [variant]="'black'"
        (onSubmit)="cancel()"
      ></app-button>
      <app-button
        [text]="'Reserver'"
        (onSubmit)="updateReservation()"
        [variant]="'pink'"
      ></app-button>
    </div>
  </div>
  <div class="modal-note" *ngIf="!isHistory">
    <img src="assets/svgs/telecom.svg" alt="" class="image" />

    <div class="info-resa">
      <h3>Réservation prévue avec {{ reservation.firstname | titlecase }}</h3>
      <h4>Le {{ reservation.dateBegin | date : "short" }}</h4>
    </div>
    <div class="subject">
      <h4>
        Plus d'information sur la session :
        <span>{{ reservation.subject }}</span>
      </h4>
      <p [innerHTML]="reservation.details"></p>
    </div>
    <h3>Annulez cette réservation?</h3>

    <div class="control">
      <app-button
        [text]="'Annuler'"
        [variant]="'black'"
        (onSubmit)="cancel()"
      ></app-button>
      <app-button
        [text]="'Valider'"
        [variant]="'pink'"
        (onSubmit)="removeReservation()"
      ></app-button>
    </div>
  </div>
</p-dialog>
