<div class="container-card-infos">
  <div class="logo-chips">
    <div class="avatar-social">
      <img
        class="logo"
        src="https://picsum.photos/200/200"
        alt=""
        width="162"
        height="162"
      />
      <div class="social">
        <img
          src="https://picsum.photos/200/201"
          alt=""
          width="35"
          height="35"
        />
        <img
          src="https://picsum.photos/200/199"
          alt=""
          width="35"
          height="35"
        />
      </div>
    </div>
    <div class="skills">
      <h2>title</h2>
      <div class="list-skills">
        <app-chip></app-chip>
        <app-chip></app-chip>
        <app-chip></app-chip>
        <app-chip></app-chip>
        <app-chip></app-chip>
        <app-chip></app-chip>
      </div>
    </div>
  </div>
  <div class="description">
    <h3>Un peu sur moi</h3>
    <p>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quibusdam iste
      mollitia similique vero nesciunt voluptate laborum labore dolore, facere
      autem ratione, quas fuga eligendi, consequuntur sed id! Aperiam, excepturi
      voluptatibus?
    </p>
  </div>
</div>
