@import "../../../../../variables.scss";

.edit-button {
  display: flex;
  align-items: center;
  border: none;
  background-color: transparent;
}

.title-about,
.title-propos,
.title {
  display: flex;
  gap: 10px;
  align-items: center;
}

.logo-chips {
  display: flex;
  gap: 46px;

  .avatar-social {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    img.logo {
      border-radius: 50%;
      width: 162px;
      height: 162px;
      object-fit: cover;
    }
    .social {
      display: flex;
      gap: 2px;
      img {
        border-radius: 50%;
        padding: 4px;
      }
    }
  }
}

.skills {
  h2 {
    margin: 15px 0;
    font-weight: 600;
    line-height: 30px;
    font-size: 23px;
  }
  .list-skills {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
  }
}
.description {
  margin-top: 30px;
  h3 {
    margin: 5px 0;
    font-weight: 600;
  }
}
.container-card-infos {
  background-color: white;
  padding: 25px 30px;
  border-radius: 22px;
  margin-bottom: 20px;
}

.container-card-infos p {
  font-weight: 300;
  font-size: 15px;
  line-height: 28px;
}

.title-about h2 {
  font-size: 20px;
  font-weight: 600;
}
.title-about {
  margin-bottom: 20px;
  padding-left: 5px;
}

@media screen and (max-width: $large) {
  .logo-chips {
    flex-direction: column;
  }
}
