<div class="modal-note" *ngIf="isHistory">
  <h3>Vous avez assisté {{ reservation.firstname | titlecase }}</h3>
  <h4>Le {{ reservation.dateTime | date : "short" }}</h4>
  <h3>Notez cette session</h3>

  <div class="card" *ngIf="!editMessage">
    <pre [innerHTML]="reservation.message"></pre>
    <app-button
      [text]="'Editer'"
      [variant]="'pink'"
      (onSubmit)="editMessage = true"
    ></app-button>
  </div>
  <div class="action" *ngIf="editMessage">
    <p-editor [(ngModel)]="reservation.message" [style]="{ height: '200px' }" />
  </div>
  <div class="control" *ngIf="editMessage">
    <app-button
      [text]="'Annuler'"
      [variant]="'pink'"
      (onSubmit)="onCancel.emit()"
    ></app-button>
    <app-button [text]="'Valider'" (onSubmit)="updateMessage()"></app-button>
  </div>
</div>
<div class="modal-note" *ngIf="!isHistory">
  <h3>Réservation prévue avec {{ reservation.firstname | titlecase }}</h3>
  <h4>Le {{ reservation.dateTime | date : "short" }}</h4>
  <h3>Annulez cette réservation?</h3>

  <div class="control">
    <app-button
      [text]="'Annuler'"
      [variant]="'pink'"
      (onSubmit)="onCancel.emit()"
    ></app-button>
    <app-button
      [text]="'Valider'"
      (onSubmit)="deleteReservation()"
    ></app-button>
  </div>
</div>
