.formulaire {
  width: 100%;
}

.container-input {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  width: 100%;
}

.container-input span {
  font-size: 12px;
  font-style: italic;
  font-weight: 400;
}

.btn-connexion {
  margin-top: 50px;
}

.label-form {
  margin-top: 10px;
  font-weight: 600;
  font-size: 16px;
  color: black;
}

.input-form {
  padding: 12px 10px;
  border: solid 1px black;
  border-radius: 5px;
  margin-top: 6px;
  &::placeholder {
    color: rgb(151, 150, 150);
    font-style: italic;
  }
}

.formulaire.ng-submitted input.ng-invalid {
  border-color: red;
}
.error {
  font-size: 14px;
  color: red;
  margin-top: 5px;
  font-style: italic;
}

.mdp-error {
  font-size: 14px;
  color: black;
  margin-top: 5px;
  font-style: italic;
}
