/* You can add global styles to this file, and also import other style files */
@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@import url("https://fonts.googleapis.com/css2?family=Poller+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import "../node_modules/quill/dist/quill.core.css";
@import "../node_modules/quill/dist/quill.snow.css";

* {
  font-family: "Poppins";
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

.img-fluid {
  width: 100%;
}

.p-sidebar {
  width: 45%;
  padding: 50px 40px;
}

@media screen and (max-width: 576px) {
  .p-sidebar {
    width: 100%;
  }
}
a {
  color: inherit;
  text-decoration: none;
}

// svgs
.dash-white {
  stroke: white;
  color: white;
  fill: wheat;
}

.languages .p-multiselect-label {
  padding: 10px 20px;

  width: 350px;
}
.languages .p-multiselect-items span {
  padding-left: 20px;
}

.p-multiselect-panel {
  width: 400px;
}

.languages .p-multiselect-header {
  height: 50px;
}

.languages .p-multiselect-filter-container {
  padding-left: 20px;
}
.languages .p-multiselect-filter-icon {
  margin-top: -8px;
}

.languages .p-multiselect {
  border: solid 1px #f8156b;
}
.languages .p-multiselect-label {
  color: black;
}
.languages .p-checkbox .p-checkbox-box.p-highlight {
  border-color: #f8156b;
  background-color: #f8156b;
}

.filter .p-multiselect {
  border-color: #f8156b;
}

.filter .p-multiselect-label {
  padding-left: 10px;
}

.filter .p-multiselect-filter-icon {
  margin-top: -8px;
}

.filter .p-multiselect-filter-container {
  padding-left: 20px;
}

.filter .p-multiselect-items span {
  padding-left: 10px;
}

.filter .p-multiselect-label {
  padding: 5px 10px;
  max-width: 220px;
}

.filter .p-checkbox-box {
  margin-left: 5px;
  width: 15px;
  height: 15px;
  align-self: center;
}

.filter .p-multiselect-token {
  background-color: #f8156b;
  color: white;
  border-radius: 10px;
  padding: 2px 5px;
  margin: 1px 2px;
}

.filter .p-multiselect-token-icon {
  padding-left: 2px;
  margin-left: 5px;
}

.filter .p-multiselect-clear-icon {
  display: none;
}

.fc .fc-toolbar.fc-header-toolbar {
  padding: 30px 0;
}

.fc .fc-button-primary {
  background-color: #fedae3;
  color: #f8156b;
  border: solid 2px #fedae3;
  border-radius: 7px;
}

.fc .fc-button-primary:not(:disabled).fc-button-active,
.fc .fc-button-primary:not(:disabled):active {
  background-color: #f8156b;
  color: white;
  border: solid 2px #f8156b;
}

.fc .fc-col-header-cell-cushion {
  font-weight: 400;
}

.fc-direction-ltr .fc-button-group > .fc-button:not(:first-child) {
  margin-left: 5px;
}

.fc td,
.fc th {
  vertical-align: middle;
}

.fc th {
  border: none;
  background-color: #fedae3;
}
.p-paginator .p-paginator-pages .p-paginator-page.p-highlight {
  background-color: #1e1b1c;
  color: white;
}
.p-paginator {
  padding: 20px 0;
}

.p-paginator .p-paginator-pages .p-paginator-page {
  min-height: 20px;
  width: 20px;
}
