$primary-color: #f7156b;
$anti-primary-color: #ffdae3;

$secondary-color: #ffbe77;

$font-color-grey: #9c9c9c;
$background-light-list: #fff4e8;
$background-light-list-pink: #fedae376;

// break points
$extra-large: 1200px;
$large: 992px;
$medium: 768px;
$small: 576px;
