$primary-color: #f7156b;
$anti-primary-color: #ffdae3;

$secondary-color: #ffbe77;

$font-color-grey: #9c9c9c;
$background-light-list: #fff4e8;
$background-light-list-pink: #fedae376;

// break points
$break-point-phone: 760px;
$break-point-tablette: 1200px;
$break-point-tablette-medium: 890px;
