<div class="container-layout">
  <div class="header-container">
    <h2>Bonjour Marie</h2>
    <p>Votre espace mentor de la Wild Code School</p>
  </div>
  <div class="body-layout">
    <div class="container-side-nav">
      <h1>Menu</h1>
      <ul>
        <li><a [routerLink]="['dashboard']">Dashboard</a></li>
        <li>Mon profil</li>
        <li>Mon agenda</li>
      </ul>
    </div>
    <div class="container-body">
      <h3>Mes favoris</h3>
      <div class="body-contain">
      <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>
