@import "../../../../../variables.scss";

.container-general-layout {
  background-color: #fcf6f8;
}

.container-layout {
  margin: 0 auto;
  margin-top: 0;
  padding: 0;
  min-height: 100vh;
  max-width: 1280px;
  background-color: #fcf6f8;

  .header-container {
    background-color: #f8156b;
    width: 60%;
    height: 100px;
    margin: 0 auto;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    color: white;
    padding: 0 20px;

    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
.header-layout {
  display: flex;
  color: white;
  border-radius: 15px;
  align-items: center;
}

.container-notification {
  display: flex;
  gap: 10px;
  align-items: center;
}

.icon-wrapper {
  position: relative;
  display: inline-block;
}
.icon-wrapper img {
  display: block;
}

.badge {
  position: absolute;
  top: -5px;
  right: -5px;
  background-color: red;
  color: white;
  border-radius: 50%;
  padding: 2px 6px;
  font-size: 12px;
  line-height: 1;
}
.round-image {
  border-radius: 50%;
  width: 25px;
  height: 25px;
}
.container-main {
  position: relative;
  display: flex;

  button.burger {
    position: absolute;
    top: -10px;
    left: 15px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    background-color: transparent;
    border: none;
    margin-left: 10px;
  }
  .container-side-nav {
    margin-top: 40px;
    height: calc(100vh - 140px);
    background-color: white;
    border-radius: 20px;
    transition: 0.2s all ease;
    padding: 10px 10px;
    margin-top: 20px;
    z-index: 10;
    // flex-basis: 250px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .logout {
      margin-left: 20px;

      .logout-btn {
        display: flex;
        background-color: transparent;
        border: none;
        display: flex;
        align-items: center;
        gap: 10px;
        justify-content: start;
      }
    }
  }
  .container-outlet {
    flex-grow: 1;
    padding: 15px;
    transition: 0.2s all ease;
    height: calc(100vh - 130px);
    overflow-y: auto;
    margin-top: 30px;
  }
}

.logout-pop-up {
  padding: 20px 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logout-pop-up h1 {
  margin-top: 30px;
  font-size: 20px;
  line-height: 20px;
  text-align: center;
}

.logout-pop-up p {
  margin-top: 10px;
  font-size: 16px;
}

.forgot-img {
  width: 200px;
}

.container-img-forgot {
  display: flex;
  width: 100%;
  justify-content: center;
}

.btn-logout-container {
  margin-top: 30px;
  display: flex;
  gap: 20px;
}

.logout h4 {
  font-weight: 200;
  cursor: pointer;
}

@media screen and (max-width: $large) {
  .container-side-nav {
    position: absolute;
  }
  .container-outlet {
    margin-left: 10px;
    overflow-y: auto;
  }
  .container-layout {
    .header-container {
      width: 70%;
    }
  }
  .btn-logout-container {
    flex-direction: column;
  }
}

@media screen and (max-width: $medium) {
  .container-layout {
    .header-container {
      width: 90%;
    }
  }
  .btn-logout-container {
    flex-direction: column;
  }
}
