<div class="container-login-page">
  <div class="left-content">
    <app-welcome
      title="Bienvenue !"
      subtitle="La plateforme qui met les étudiants et les mentors en relation"
    ></app-welcome>
  </div>

  <div class="right-content">
    <div class="right-title">
      <h2>Connexion</h2>
    </div>

    <app-login-form class="inner-right"></app-login-form>
    <div class="account">
      <h4>
        Vous n'avez pas de compte ?
        <span><a [routerLink]="['/register']">Créer un compte</a></span>
      </h4>
    </div>

    <div class="social-connexion">
      <app-social-connexion
        title="Ou connectez-vous avec "
      ></app-social-connexion>
    </div>
  </div>
</div>
