<div class="card-skill" *ngIf="formation">
  <div class="card-skill-body">
    <button>
      <img src="assets/svgs/school.svg" alt="skill" width="25" height="25" />
    </button>
    <div class="details">
      <p class="title">{{ formation.title }}</p>
      <div class="date-place">
        <p>{{ formation.city }}</p>
      </div>
    </div>
  </div>
  <div class="card-skill-control">
    <button (click)="showEditForm()">
      <img src="assets/svgs/edit.svg" alt="edit" width="20" height="20" />
    </button>
    <button>
      <img src="assets/svgs/delete.svg" alt="delete" width="22" height="22" />
    </button>
  </div>
</div>

<p-sidebar [(visible)]="isVisibleFormEditCourse" position="right">
  <app-form-edit-course
    [formation]="formation"
    [destroy]="hideEditForm"
  ></app-form-edit-course>
</p-sidebar>
