<div class="card-skill" *ngIf="formation">
  <div class="card-skill-body">
    <button>
      <img src="assets/svgs/school.svg" alt="skill" width="18" height="18" />
    </button>
    <div class="details">
      <p class="title">{{ formation.title }}</p>
      <div class="date-place">
        <img
          src="assets/svgs/calendar.svg"
          alt="calendar"
          width="23"
          height="23"
        />
        <p>{{ formation.city }}</p>
      </div>
    </div>
  </div>
  <div class="card-skill-control">
    <button>
      <img src="assets/svgs/edit.svg" alt="edit" width="25" height="25" />
    </button>
    <button>
      <img src="assets/svgs/delete.svg" alt="delete" width="25" height="25" />
    </button>
  </div>
</div>
