.social-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.social-container h3 {
  font-size: 15px;
  font-weight: 300;
  font-style: italic;
}

.social-title {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}
.barre {
  display: block;
  width: 150px;
  height: 1px;
  background-color: black;
}

.social-icons i {
  margin-top: 15px;
  padding: 0px 5px;
}

@media screen and (max-width: 576px) {
  .barre {
    width: 70px;
  }
}
