@import "../../../../variables.scss";

.card-skill {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .card-skill-body {
    display: flex;
    align-items: center;

    button {
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: $secondary-color;
      border: none;
      border-radius: 15px;
      margin-right: 14px;

      img {
        margin: 10px;
      }
    }

    .details {
      p {
        font-size: 22px;
      }
      .date-place {
        display: flex;
        color: $font-color-grey;

        p {
          margin-left: 5px;
          font-size: 15px;
        }
      }
    }
  }

  .card-skill-control {
    button {
      border: none;
      border-radius: 15px;
      margin-right: 14px;
      background-color: transparent;
      margin-left: 10px;
    }
  }
}
