@import "../../../../../../variables.scss";
.light {
  background-color: white;
  color: #4F4E4E;
}
.lightActive {
  background-color: $primary-color;
  color: white;
}

.dark {
  background-color: black;
  color: azure;
}
.darkActive {
  background-color: black;
  color: azure;
}
.btn-general {
  width: 100%;
  font-size: 0.8em;
  font-weight: 600;
  padding: 15px 20px;
  border-radius: 6px;
  border: none;
  transition: transform 0.4s ease;
}
.btn-general:hover {
  transform: scale(0.95);
}
button {
  margin: 10px 0;

  display: flex;
  gap: 5px;
  align-items: center;
}
