<form
  class="form-inscription"
  [formGroup]="registerForm"
  (ngSubmit)="registerForm.valid && onSubmit()"
  #formRegister="ngForm"
>
  <div class="infos">
    <div class="container-input">
      <label for="lastName">Nom *</label>
      <input
        type="text"
        id="lastName"
        name="lastName"
        formControlName="lastName"
        placeholder="Votre nom"
      />
      <div
        class="error"
        *ngIf="
          formRegister.submitted && registerForm.controls['lastName'].errors
        "
      >
        <div [hidden]="!registerForm.controls['lastName'].errors['required']">
          Le nom est requis
        </div>
      </div>
    </div>
    <div class="container-input">
      <label for="firstName">Prénom *</label>
      <input
        type="text"
        id="firstName"
        name="firstName"
        formControlName="firstName"
        placeholder="Votre prénom"
      />
      <div
        class="error"
        *ngIf="
          formRegister.submitted && registerForm.controls['firstName'].errors
        "
      >
        <div [hidden]="!registerForm.controls['firstName'].errors['required']">
          Le prénom est requis
        </div>
      </div>
    </div>
  </div>

  <div class="container-input">
    <label for="email">Email *</label>
    <input
      type="text"
      id="email"
      name="email"
      formControlName="email"
      placeholder="Votre email"
    />
    <div
      class="error"
      *ngIf="formRegister.submitted && registerForm.controls['email'].errors"
    >
      <div [hidden]="!registerForm.controls['email'].errors['required']">
        L'email est requis
      </div>
      <div [hidden]="!registerForm.controls['email'].invalid">
        L'email est invalide
      </div>
    </div>
  </div>

  <div class="container-input">
    <label for="password">Mot de passe *</label>
    <input
      type="password"
      id="password"
      name="password"
      formControlName="password"
      placeholder="Votre mot de passe"
    />
    <div
      class="error"
      *ngIf="formRegister.submitted && registerForm.get('password')?.errors?.['required']"
    >
      Mot de passe requis
    </div>
  </div>
  <div class="container-input">
    <label for="checkPassword">Confirmation du mot de passe *</label>
    <input
      type="checkPassword"
      id="checkPassword"
      name="checkPassword"
      formControlName="checkPassword"
      placeholder="Confirmation de votre mot de passe"
    />
    <div
      class="error"
      *ngIf="formRegister.submitted && registerForm.get('checkPassword')?.errors?.['required']"
    >
      Le mot de passe doit être identique
    </div>
  </div>
  <div class="checkbox-cgv">
    <input type="checkbox" name="checkbox-cgv" id="checkbox-cgv" />
    <label for="checkbox-cgv"
      >J'accepte les conditions générales d'utilisation</label
    >
  </div>

  <div class="btn-connexion">
    <app-button variant="pink" text="S'inscrire"></app-button>
  </div>
</form>
