<div class="profil-mentor" *ngIf="activeMentor$ | async as mentor">
  <div class="main">
    <app-card-infos
      [mentor]="mentor.profil"
      [chips]="mentor.skills"
    ></app-card-infos>
    <app-list-experience-mentor
      [title]="'Mes compétences'"
      [experiences]="mentor.experiences"
    ></app-list-experience-mentor>
  </div>
  <div class="side-left">
    <app-list-formation [title]="'Mes formations'"></app-list-formation>
    <app-list-languages [title]="'Langues'"></app-list-languages>
  </div>
</div>
