
<div class="container-card">
  <div class="img-card">
    <img src="../../../../assets/marieD.webp" alt="">
    <h1>Marie</h1>
  </div>
  <div class="title-card">
    <p>Développeur Web Java/Angular spécialisé UX/UI</p>
  </div>
    <div class="chip-container">
    <app-chip></app-chip>
    <app-chip></app-chip>
    <app-chip></app-chip>
  </div>
  <div class="social-container">
    <div class="img-linkedin">
      <img src="../../../../../../assets/svgs/linkedin-icon2.svg" alt="">
    </div>
    <div class="img-github">
      <img src="../../../../../../assets/svgs/github-icon.svg" alt="">
    </div>
  </div>
</div>
