.forgot-pwd-pop-up {
  padding: 20px 40px;
}

.forgot-pwd-pop-up h1 {
  font-size: 25px;
  line-height: 35px;
}

.forgot-pwd-pop-up p {
  margin-top: 15px;
  font-size: 16px;
}

.forgot-pwd-pop-up input {
  margin-bottom: 10px;
}

.forgot-img {
  width: 250px;
}

.container-img-forgot {
  display: flex;
  width: 100%;
  justify-content: center;
}
