.forgot-pwd-pop-up {
  padding: 20px 40px;
}

.forgot-pwd-pop-up h1 {
  margin-top: 30px;
  font-size: 20px;
  line-height: 30px;
}

.forgot-pwd-pop-up p {
  margin-top: 10px;
  font-size: 16px;
}

.forgot-pwd-pop-up input {
  margin-bottom: 10px;
}

.forgot-img {
  width: 200px;
}

.container-img-forgot {
  display: flex;
  width: 100%;
  justify-content: center;
}

.forgot-pwd h3 {
  font-weight: 300;
  font-size: 13px;
  margin-top: 10px;
}

.forgot-pwd h3:hover {
  cursor: pointer;
}
