<div class="title-list">
  <h3>{{ title }}</h3>
  <button
    class="edit-button"
    (click)="showAddExperienceForm()"
    *ngIf="editModeOn"
  >
    <img src="assets/svgs/plus.svg" alt="edit" width="25" height="25" />
  </button>
</div>
<div class="list-skills">
  <ng-container *ngIf="experiences">
    @for( experience of experiences; track $index ){
    <app-card-experience
      [experience]="experience"
      [editModeOn]="editModeOn"
    ></app-card-experience>
    @if($index !== experiences.length -1){
    <p-divider></p-divider>
    } }
  </ng-container>
</div>
<ng-container
  *ngIf="{
    phoneMode: windowWatcherService.windowSizeChanged.asObservable() | async
  } as phoneMode"
>
  <p-sidebar
    [(visible)]="isVisibleFormExperience"
    position="right"
    (onHide)="hideAddExperience()"
    *ngIf="isVisibleFormExperience"
    position="right"
    [style]="{
      width: phoneMode.phoneMode ? 'max(50vw, 400px)' : '100vw'
    }"
  >
    <app-form-add-experience
      (destroy)="hideAddExperience()"
      (onExperienceAdd)="addExperience($event)"
    >
    </app-form-add-experience>
  </p-sidebar>
</ng-container>
