.list-skills {
  background-color: white;
  gap: 18px;
  border-radius: 37px;
  padding: 35px 32px;
  p-divider {
    margin: 18px;
  }
}

.title-list {
  margin-top: 50px;
  margin-bottom: 20px;
  padding-left: 5px;
  display: flex;
  gap: 10px;
}
.title-list h3 {
  font-weight: 600;
  font-size: 20px;
}
.edit-button {
  display: flex;
  align-items: center;
  border: none;
  background-color: transparent;
}
